<%- include('partials/header') %>

<div class="modal">
<h1 class="modalH1"><%= errorMessage %></h1>
<a class="modalLink" href= <%= route %>><%= routeName %></a>
</div>
<%- include('partials/footer') %>